h1 {
    font-size: 60px;
}

li {
    font-size: 30px;
    display:flex;
    margin: 40px;
    margin-top: 10px;
}

ul {
    margin-left: 5%;
    /* margin-top: 10%; */
    display:flex;
}

body {
    background-color: lightgray;
}

img {
    width: 80%;
    height: auto;
} 

.caption {
    width: 200%;
    margin-left: 4%;
    margin-right: 10%;
}

a {
    text-decoration: none;
}